.app
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edeeea;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.app-body
{
  display: flex;
  height: 90vh;
  width: 90vw;
  background-color: whitesmoke;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}