.login
{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: rgb(252, 245, 245);
}

.login-container > img
{
    height: 100px;
    object-fit: contain;
    margin-bottom: 30px;
}
.login-container
{
    padding: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    background-color: white;
    text-align: center;
}

.login-container > button
{
    margin-top: 20px;
    border: 1.5px solid black;
    font-weight: 500 !important;
    text-transform: capitalize;
    border-radius: 8px !important;
}